.piano {
	display: flex;
	flex: 1;
}

.octave {
	display: flex;

	position: relative;
	width: 100%;
	aspect-ratio: 7 / 6.4;
	margin: auto;

	.key {
		display: flex;
		align-items: flex-end;
		justify-content: center;

		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;

		.name {
			display: none;
			font-size: 10px;
		}
	}

	.key.white {
		flex: 1;
		background-color: white;
		color: black;
		border: 1px solid black;
		z-index: 1;

		&.pressed {
			background-color: #aaa;
		}

		.name {
			font-size: 12px;
		}
	}

	.key.black {
		position: absolute;
		width: 8.6%;
		height: 60%;
		background-color: black;
		color: white;
		z-index: 2;

		&.pressed {
			background-color: #333;
		}

		.name {
			font-size: 11px;
		}
	}
}

.piano.english {
	.key .english {
		display: block;
	}
}

.piano.italian {
	.key .italian {
		display: block;
	}
}